body{
	font-family: 'ms gothic';
	margin-bottom: 350px;
}
h1{
	font-size:2em;
}
#topmenu a{
	margin: 5px;
	margin-right: 0;
	padding: 10px;
	background-color: gold;
	color: black;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.3s;
}
#topmenu span{
	margin: 5px;
	margin-right: 0;
	padding: 10px;
	color: gold;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.3s;
}
#topmenu a:hover{
	background-color: darkgoldenrod;
	color: white;
}
#maincontent{
	padding: 0 1.5%;
}
#maincontent h2{
	color: white;
	font-weight: normal;
	background: linear-gradient(60deg, darkgoldenrod, #000);
	margin: 5px 0;
	padding: 3px 1%;
}
#maincontent p{
	padding-left: 1em;
}
#maincontent img{
	width: 100%;
}
#maincontent table{
	border-collapse:separate;
	margin: 0 3%;
}
#maincontent td{
	padding: 3px;
	border-bottom: solid 1px #998;
}
#maincontent td:first-child{
	color:darkgoldenrod ;
	text-align: center;
	width: 8em;
}
.emp-1{
	color: white;
	background-color: #998;
	padding: 0 10px;
}
#sideMenu *{
	display: inline-block;
	padding: 8px;
	border-bottom: solid 1px darkgoldenrod;
	text-decoration: none;
	transition: 0.3s;
	width: 100%;
}
#sideMenu h3{
	color: white;
	background-color: darkgoldenrod;
	width: 100%;
}
#sideMenu a:hover{
	background-color: gold;
}
#sideMenu :last-child{
	border-bottom: transparent;
}

@media(max-width:579.9px){
	#sideMenu a{
		width: calc(50% - 6px);
	}
}

@media(min-width:580px){
	#maincontent{
		display: flex;
	}
	#sideMenu{
		min-width: 25%;
		max-width: 25%;
		height: fit-content;
		margin: 5px;
		margin-right: 0;
		/* background-color: #0003; */
	}
}

@media(min-width:960px){
	body{
		width: 960px;
	}
}