body{
	font-family: 'ms gothic';
	min-width: 360px;
	max-width: 960px;
}
h1{
	font-size:2em;
}
hr{
	clear: both;
	border-color: transparent;
}

/*ヘッダー部分のリンク*/
#topmenu{
	-ms-overflow-style: none;
	scrollbar-width: none;
}
#topmenu::-webkit-scrollbar{
	display: none;
}

#topmenu a{
	display: inline-block;
	margin: 5px 3px;
	padding: 10px;
	background-color: gold;
	color: black;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.3s;
}
#topmenu span{
	display: inline-block;
	margin: 5px;
	margin-right: 0;
	padding: 10px;
	color: gold;
	font-weight: bold;
	text-decoration: none;
}
#topmenu a:hover{
	background-color: darkgoldenrod;
	color: white;
}

/*本文*/

#maincontent{
	padding: 0 1.5%;
}
#maincontent h2{
	color: white;
	font-weight: normal;
	background: linear-gradient(60deg, darkgoldenrod, #000);
	margin: 0.3em 0 0.2em;
	padding: 3px 1%;
	width: 100%;
}
#maincontent p{
	padding-left: 1em;
}
#maincontent img{
	width: 100%;
}
#maincontent table{
	border-collapse:separate;
	margin: 0 3%;
}
#maincontent td{
	padding: 3px;
	border-bottom: solid 1px #998;
}
#maincontent td:first-child{
	color:darkgoldenrod ;
	text-align: center;
	width: 8em;
}

/*メインコンテンツ用バナーリンク*/

#maincontent a.topic{
	display: block;
	float: left;
	height: 150px;
	width: calc(50% - 10px);
	margin: 0.8em 0px 0em 9px;
	background: linear-gradient(120deg, white, darkgoldenrod);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position:bottom;
	text-decoration: none;
	color: black;
	text-shadow: 2px 0px 0px white, 1px 1px 0px white, 0px 1px 0px white, -1px 0px white, 0px -1px white;
	box-shadow: 1px 1px 4px black;
	transition: all 0.3s;
}
#maincontent a.topic span:nth-child(1){
	display: block;
	font-size: 1.75em;
	background-color: #fffe;
}
#maincontent a.topic span:nth-child(n + 2){
	display: block;
	background-color: #fffb;
}
#maincontent a.topic:hover{
	color: black;
	text-shadow: 2px 0px 0px gold, 1px 1px 0px gold, 0px 1px 0px gold, -1px 0px gold, 0px -1px gold;
	font-weight: bold;
	letter-spacing: 1px;
	background-size: 110%;
}

/*文字強調*/

.emp-1{
	color: white;
	background-color: #998;
	padding: 0 10px;
}

/*サイドメニュー欄*/

#sideMenu *{
	display: inline-block;
	padding: 8px;
	border-bottom: solid 1px darkgoldenrod;
	color: #333;
	text-decoration: none;
	transition: 0.3s;
	width: 100%;
	background-size: 100%;
	background-position: center;
}
#sideMenu h3{
	color: white;
	background-color: darkgoldenrod;
	width: 100%;
}
#sideMenu a.ad{
	height: 100px;
	text-shadow: 1px 0px 0px white, 1px 1px 0px white, 0px 1px 0px white;
}
#sideMenu a:hover{
	background-color: gold;
	background-size: 110%;
}
#sideMenu :last-child{
	border-bottom: transparent;
}

/*幅が580px未満の場合*/

@media(max-width:579.9px){
	#sideMenu a{
		width: calc(50% - 6px);
		margin-right: 5px;
	}
}

/*幅が580px以上の場合*/

@media(min-width:580px){
	#maincontent{
		display: flex;
	}
	#maincontent div:first-child{
		width: 75%;
	}
	#sideMenu{
		right: 0;
		min-width: 25%;
		max-width: 25%;
		height: fit-content;
		margin: 5px;
		margin-right: 0;
	}
}